@model HrBackEnd.netCore.Entitys.Candidate

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Candidate</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.expectedSalary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.expectedSalary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.salary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.salary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.firstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.firstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.lastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.lastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CV)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.coverLetter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.coverLetter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.phoneDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.phoneDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.interviewDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.interviewDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cobyDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cobyDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.startDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.startDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.postAcceptedNavigator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.postAcceptedNavigator.IdJobPost)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="idCandidate" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
